{% extends 'states/starter.html.twig' %}

{% block body %}
    <div class="flex items-center justify-center grow bg-center bg-no-repeat page-bg">
        <div class="card max-w-[370px] w-full">
            <form method="post" class="card-body flex flex-col gap-5 p-10">
                <div class="text-center mb-2.5">
                    <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">Conectare</h3>
                    <div class="flex items-center justify-center font-medium">
                       <span class="text-2sm text-gray-700 me-1.5">Ai nevoie de un cont?</span>
                        <a class="text-2sm link" href="{{ path('app_register') }}">Înregistrare</a>
                    </div>
                </div>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="flex flex-col gap-1">
                    <label class="form-label font-normal text-gray-900">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="input" autocomplete="email" required autofocus>
                </div>
                <div class="flex flex-col gap-1">
                    <div class="flex items-center justify-between gap-1">
                        <label class="form-label font-normal text-gray-900">Password</label>
                        <a class="text-2sm link shrink-0" href="{{ path('login') }}">
                            Ai uitat parola?
                        </a>
                    </div>
                    <div class="input" data-toggle-password="true">
                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        <button class="btn btn-icon" data-toggle-password-trigger="true" type="button">
                            <i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden"></i>
                            <i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block"></i>
                        </button>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <label class="checkbox-group my-5">
                        <input class="checkbox checkbox-sm" name="check" type="checkbox" value="1"/>
                        <span class="checkbox-label">
                       Remember me
                    </span>
                    </label>
                    <button class="btn btn-primary flex justify-center grow">
                        Sign In
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
